<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        p {text-align: center;}
        button {text-align: centre;}
        body {
            background-image: url('/images/admin_Image.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            color: #FFFFFF;
        }
    </style>
    <meta charset="UTF-8">
    <title>Welcome to Sporty Shoes E-Shop</title>
</head>
<body>
<h1><p>Welcome to Sporty Shoes E-Shop !!!!</p></h1>
<h1><p th:text="'Hello Admin - ' + ${name} + '!'" /></h1>
<form name="adminSuccessForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['adminSuccessForm'].action = '/manageStore'; return true;">
            Manage Store Inventory
        </button>
    </p>
</form>
<br>
<form name="checkOrderForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['checkOrderForm'].action = '/checkOrder'; return true;">
            Check Order details
        </button>
    </p>
</form>
<form name="logoutForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['logoutForm'].action = '/greeting'; return true;">
            Logout
        </button>
    </p>
</form>
</body>
</html>