<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        p {text-align: center;}
        button {text-align: centre;}
        body {
            background-image: url('/images/shoeList_Image.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            color: #FFFFFF;
        }
        h1 { color: #B544E5; }
        h2 { color: #337fea; }
    </style>
    <meta charset="UTF-8">
    <title>Welcome to Sporty Shoes E-Shop</title>
</head>
<body>
<h1><p>Welcome to Sporty Shoes E-Shop !!!!</p></h1>
<h2><p th:text="'Hello - ' + ${name} + ' !'" /></h2>
<form name="customerSuccessForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['customerSuccessForm'].action = '/OrderShoe'; return true;">
            Order Your favourite Style !
        </button>
    </p>
</form>
<form name="logoutForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['logoutForm'].action = '/greeting'; return true;">
            Logout
        </button>
    </p>
</form>
</body>
</html>