<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sporty Shoes Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        p {text-align: center;}
        button {text-align: centre;}
        body {
            background-image: url('/images/shoeList_Image.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            color: #FFFFFF;
        }
        h1 { color: #a816f1; }
        h2 { color: #337fea; }
    </style>
</head>
<body>
<h1><p th:text="'Hello ' + ${name} + '!'" /></h1>
<h2><p>Welcome to <span th:text="${appName}">Our App</span></p></h2>
<h2><p style="font-size:25px;"> Please Log in if already registered!</p></h2>
<br/>
<form name="loginForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['loginForm'].action = '/login'; return true;">
            Log in
        </button>
    </p>
</form>
<form name="productListForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['productListForm'].action = '/product'; return true;">
            View Products
        </button>
    </p>
</form>
</body>
</html>