<!DOCTYPE html>
<html>
<head>
	<style>
	p {text-align: center;}
	button {text-align: centre;}
	body {
		background-image: url('../images/SportyShoe2.jpeg');
	  	background-repeat: no-repeat;
	  	background-attachment: fixed;
	  	background-size: 100% 100%;
	  	color: #FFFFFF;
	}
	</style>
	<meta charset="UTF-8">
	<title>Sporty Shoes Application - Login</title>
</head>
<body>
	<form name="loginForm">
		<h1><p>Sporty Shoes E-Shop</p></h1>
		<p>
			Enter User Name :<input type = "text" name = 'uname'/>
		</p>
		<p>
			Enter Password :<input type = 'password' name = 'pass'/>
		</p>
		<p>
			<button style="font-size:25px;" type = 'submit' onclick="document.forms['loginForm'].action = '/validateLogin'; return true;">login</button>
		</p>
	</form>
</body>
</html>