<!DOCTYPE html>
<html>
<head>
	<style>
	p {text-align: center;}
	button {text-align: centre;}
	body {
	  background-image: url('https://static.toiimg.com/photo/msid-71614991/71614991.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	  color: #FFFFFF;
	}
	</style>
	<meta charset="UTF-8">
	<title>Sporty Shoes Application - Login</title>
</head>
<body>
	<form method = "post" action = "LoginServlet">
		<h1><p>Sporty Shoes E-Shop</p></h1>
		<p>
			Enter User Name :<input type = "text" name = 'uname'/>
		</p>
		<p>
			Enter Password :<input type = 'password' name = 'pass'/>
		</p>
		<p>
			<button style="font-size:25px;" type = 'submit' >login</button>
		</p>
	</form>
</body>
</html>