<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        p {text-align: center;}
        button {text-align: centre;}
        body {
            background-image: url('../images/login_retry.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            color: #FFFFFF;
        }
        h1 { color: #FF0000; }
        h2 { color: #FF0000; }
    </style>
    <meta charset="UTF-8">
    <title>Welcome to Sporty Shoes E-Shop</title>
</head>
<body>
<h1><p>Invalid User Id and Password !!</p></h1>
<h2><p>Please try with valid credentials.</p></h2>
<br/>
<form name="loginForm">
    <p>
        <button style="font-size:25px;" type = 'submit' onclick="document.forms['loginForm'].action = '/login'; return true;">
            Log in
        </button>
    </p>
</form>
</body>
</html>